body { 
    text-align: center;
    }
  
  h1 {
    color: darkslategray;
  }
  
  .menu {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2;
      color: white;
    }
    
    .wrapper {
      padding: 70px 70px 0;
      display: block;
    }
  
    form {
      /* display: inline-block; -- this will shrink the background border color*/
      border-radius: 5px;
      background-color: #e4e3e3;
      padding: 20px;
  
    }